.board {

  .column {
    display: inline-block;

    .cell {
      width: 100px;
      height: 100px;
      border: solid 1px green;
      margin: 4px;
    }

    &:hover {
      cursor: pointer;
      background: gray;
    }
  }
}
