.board {

  .column {
    display: inline-block;

    .cell {
      background: #34495e;
      width: 70px;
      height: 70px;
      margin: 6px 4px;

      .disc {
        width: 100%;
        height: 100%;
        border-radius: 50%;

        &.disc-type-1 { background: #e74c3c; }
        &.disc-type-2 { background: #f1c40f; }
      }
    }

    border-top: solid 5px transparent;
    &:hover { cursor: pointer; }
  }
}

.board-player-1 {
  .column:hover {
    border-color: #e74c3c;
  }
}

.board-player-2 {
  .column:hover {
    border-color: #f1c40f;
  }
}
